<%
	let sTotal = 0; 
    let pFinal = 0;
    let desc = 0;

	if (viaje === "2") { 
		sTotal = precio * 1.80; 
	} else if (viaje === "1") {
		sTotal = precio;
	}

	if (anios >= 60) {
		desc = sTotal * 0.50;
	}

	const imp  = (sTotal - desc) * 0.16;
	pFinal = sTotal - desc + imp;

%>
<div>
	<label for="" class="">Subtotal</label>
	<input type="number" value="<%=sTotal%>" name="subtotal" id="subtotal" class="form-control" disabled> 
    <br>
    <br>
	<label for="" class="">Impuesto</label>
	<input type="number" value="<%=imp%>" name="impuesto" id="impuesto" class="form-control" disabled>
    <br>
    <br>
	<label for="" class="">Descuento</label>
	<input type="number" value="<%=desc%>" name="descuento" id="descuento" class="form-control" disabled>
    <br>
    <br>
	<label for="" class="">Total a pagar</label>
	<input type="number" value="<%=pFinal%>" name="total" id="total" class="form-control" disabled>
</div>