<!DOCTYPE html>
<html lang="en">

<%-include('partials/encabezado.html')%>
<body>
    <div class="container bg-secondary p-4">
        <form action="/" method="post">
            <label for="">Num Boleto</label>
            <input type="number" id="boleto" name="boleto" required="true" class="form-control">
            <br><br>
            <label for="">Destino</label>
            <input type="text" id="destino" name="destino" required="true" class="form-control">
            <br><br>
            <label for="">Nombre del Cliente</label>
            <input type="text" id="nombre" name="nombre" required="true" class="form-control">
            <br><br>
            <label for="">Años cumplidos</label>
            <input type="number" id="anios" name="anios" required="true" class="form-control">
            <br><br>
            <label for="">Tipo de viaje</label>
            <select name="viaje" id="viaje" class="form-control">
                <option value="1" selected>Sencillo</option>
                <option value="2">Doble</option>
            </select>
            <br><br>
            <label for="">Precio</label>
            <input type="number" id="precio" name="precio" required="true" class="form-control">
            <br><br>
            <hr>
            <button type="submit" class="btn btn-primary btn-lg">Calcular</button>
            <button type="reset" class="btn btn-warning btn-lg">Limpiar</button>
            <br><br>
            <%-include('partials/calcular.html')%>
        </form>
    </div>
    
    <%-include('partials/piePagina.html')%>
    
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>

</html>